@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/MaterialIcons-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

:root {
    --yellow-high: #FFD970 !important;
    --yellow: #FFCA37 !important;
    --yellow-low: #E4B531 !important;
    --blue-high-2: #e3e8ff !important;
    --blue-high: #859BFE !important;
    --blue: #5D7BFD !important;
    --blue-low: #355AFD !important;
    --gray-high: #EEEEEE !important;
    --gray-soft: #e4e4e4 !important;
    --gray-soft-2: #E6E6E6 !important;
    --gray-text: #666666 !important;
    --gray: #ADADAD !important;
    --gray-low: #808080 !important;
    --red-high: #ffe1db !important;
    --red-medium: #eb6d53 !important;
    --red: #D64A2E !important;
    --red-low: #b14934 !important;
    --green: #86cd82!important;
    --green-high: #96e292!important;
    --green-high-2: #c9f8c6!important;
    --green-low: #76b672!important;
    --white: #ffffff !important;
    --black: #222222 !important;

    /* BORDER RADIUS */
    --radius-sm: 8px;
    --radius-md: 14px;
    --radius-lg: 18px;
    --radius-full: 50%;

    /* SPACING */
    --space-1: 1px;
    --space-2: 4px;
    --space-3: 8px;
    --space-4: 12px;
    --space-5: 16px;
    --space-6: 20px;
    --space-7: 24px;
    --space-8: 32px;
    --space-10: 40px;
    --space-12: 48px;
    --space-16: 64px;
    --space-20: 80px;

    /* FONTSIZE */
    --fontsize-xl: 46px;
    --fontsize-lg: 34px;
    --fontsize-md: 24px;
    --fontsize-sm: 16px;
    --fontsize-xs: 12px;

    --boxshadow-default: 0 0 15px rgba(0, 0, 0, 0.2);

    --overlay: rgba(0, 0, 0, 0.5);
}

input[type="range"] {
    width: 100%;
}

input:not([type="checkbox"]):not([type="range"]):not([type="radio"]) {
    height: 40px;
}

input:not([type="checkbox"]):not([type="range"]):not([type="radio"]), textarea {
    border-radius: 6px;
    border: 1px solid var(--gray-low);
    padding: 7px 10px;
    width: 100%;
    margin: 8px 0;
}

input:not([type="checkbox"]):not([type="range"]):not([type="radio"]):focus, textarea:focus, select:focus {
    outline: 2px solid var(--blue) !important;
}

textarea {
    resize: none;
}

.hidden-input {
    opacity: 0;
}

hr {
    border: 1px solid var(--gray-high);
    margin: 1rem 0;
}

/* INÍCIO NOVAS CLASSES DE TEXTO */

* {
    font-family: Roboto;
}

.preto {
    color: var(--black);
}

.cinza {
    color: var(--gray-text);
}

.vermelho {
    color: var(--red);
}

.font-size-1 {
    font-size: 24px;
}

.font-size-2 {
    font-size: 20px;
}

.font-size-2-bold {
    font-size: 20px;
    font-weight: 600;
}

.font-size-3 {
    font-size: 18px;
}

.font-size-3-bold {
    font-size: 18px;
    font-weight: 600;
}

.font-size-4 {
    font-size: 16px !important;
}

.font-size-4-bold {
    font-size: 16px;
    font-weight: 600;
}

.font-size-5 {
    font-size: 14px;
}

.font-size-6 {
    font-size: 12px;
}

.font-size-7 {
    font-size: 10px;
}

/* TÍTULOS */

.font-size-h1, .font-size-h2, .font-size-h3, .font-size-h4, .font-size-h5 {
    font-weight: bold;
}

.font-size-h1 {
    font-size: 48px;
}

.font-size-h2 {
    font-size: 36px;
}

.font-size-h3 {
    font-size: 28px;
}

.font-size-h4 {
    font-size: 24px;
}

.font-size-h5 {
    font-size: 20px;
}

/* FIM NOVAS CLASSES DE TEXTO */

.text-center {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--blue-low);
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: black;
}

html, body {
    min-height: 100%;
    overflow-x: hidden;
}

.loading-page {
    width: 150px;
    height: 150px;
    margin: calc(2vh + 3rem) auto 0;
}

.loading-page {
    background: transparent;
    border-radius: 100%;
    border: 6px solid var(--blue);
    border-right: 6px solid transparent;
    animation: loading 1s linear infinite;
}

.response {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--red);
}

.avatar-p {
    width: 35px;
    height: 35px;
}

.avatar-pp {
    width: 30px;
    height: 30px;
}

.avatar-p, .avatar-pp {
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 0 3px var(--blue);
}

.invalid-value {
    border: 1px solid var(--red) !important;
}

.opacity-1 {
    opacity: 1!important;
}

.rotate {
    transform: rotate(180deg);
}

.success {
    color: var(--green)!important;
}

.error {
    color: var(--red)!important;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: .7rem;
}

.radio-group {
    display: flex;
    align-items: center;
    margin: .7rem 0;

    & input {
        margin-right: 7px;
    }
}

/* LOADING */

.loading {
    width: 35px;
    height: 35px;
    background: transparent;
    margin: .8rem auto 0;
    border-radius: 100%;
    border: 6px solid #DA2626;
    border-right: 6px solid transparent;
    animation: loading 1s linear infinite;
    display: none;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.status-item {
    padding: 15px 15px 15px 47px;
    cursor: pointer;
    position: relative;
}

    .status-item:hover {
        background: var(--gray-high);
    }

    .status-item::before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid var(--gray);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 18px;
    }

    .on-track::before {
        background: var(--green-high);
        border: 1px solid var(--green-high);
    }

    .at-risk::before {
        background: var(--yellow);
        border: 1px solid var(--yellow);
    }

    .off-track::before {
        background: var(--red);
        border: 1px solid var(--red);
    }

    .on-hold::before {
        background: var(--blue);
        border: 1px solid var(--blue);
    }

.overlay {
    background: black;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.btn {
    padding: 7px 15px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: all 0.4s;
    margin: 5px;
}

.btn-loading {
    display: flex;
    align-items: center;
}

.btn-loading::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: var(--radius-full);
    border: 5px solid var(--white);
    border-top-color: var(--blue-low);
    animation: spin 1s linear infinite;
    margin-left: var(--space-3);
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.primary {
    background: var(--blue);
    color: var(--white);
}

    .primary:hover {
        background: var(--blue-low);
    }

.btn-gray {
    background: var(--gray-high);
}

    .btn-gray:hover {
        background: var(--gray-soft);
    }

/* ESTILOS ABAS */

.tabs-list-menu {
    margin-top: 1rem;
    width: 100%;
    border-bottom: 1px solid var(--gray);
}

    .tabs-list-menu ul {
        list-style: none;
        display: flex;
        gap: var(--space-8);
    }

        .tabs-list-menu ul li {
            cursor: pointer;
        }

.tabs-list-menu .menu-item.selected .menu-underline {
    display: block;
}

.tabs-list-menu .menu-item .menu-underline {
    display: none;
}

.tabs-list-menu .menu-item {
    color: var(--gray);
}

.tabs-list-menu .menu-item.selected {
    color: var(--blue);
}

.tabs-list-menu .menu-underline {
    height: 2px;
    border-radius: 6px;
    margin-top: 7px;
    width: 100%;
    background: var(--blue);
}

.tabs-content {
    margin-top: 1rem;
    width: 100%;
}