@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/MaterialIcons-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

:root {
    --yellow-high: #FFD970 !important;
    --yellow: #FFCA37 !important;
    --yellow-low: #E4B531 !important;
    --blue-high-2: #e3e8ff !important;
    --blue-high: #859BFE !important;
    --blue: #5D7BFD !important;
    --blue-low: #355AFD !important;
    --gray-high: #EEEEEE !important;
    --gray-soft: #e4e4e4 !important;
    --gray-soft-2: #E6E6E6 !important;
    --gray: #ADADAD !important;
    --gray-low: #808080 !important;
    --red-high: #ffe1db !important;
    --red-medium: #eb6d53 !important;
    --red: #D64A2E !important;
    --red-low: #b14934 !important;
    --green: #86cd82!important;
    --green-high: #96e292!important;
    --green-high-2: #c9f8c6!important;
    --green-low: #76b672!important;
    --white: #ffffff !important;
    --black: #222222 !important;
}

input {
    border: 1px solid var(--gray) !important;
}

hr {
    border: 1px solid var(--gray-high);
    margin: 1rem 0;
}

/* INÍCIO NOVAS CLASSES DE TEXTO */

* {
    font-family: Roboto;
}

.font-size-1 {
    font-size: 24px;
}

.font-size-2 {
    font-size: 20px;
}

.font-size-2-bold {
    font-size: 20px;
    font-weight: 600;
}

.font-size-3 {
    font-size: 18px;
}

.font-size-3-bold {
    font-size: 18px;
    font-weight: 600;
}

.font-size-4 {
    font-size: 16px !important;
}

.font-size-4-bold {
    font-size: 16px;
    font-weight: 600;
}

.font-size-5 {
    font-size: 14px;
}

.font-size-6 {
    font-size: 12px;
}

.font-size-7 {
    font-size: 10px;
}

/* TÍTULOS */

.font-size-h1, .font-size-h2, .font-size-h3, .font-size-h4, .font-size-h5 {
    font-weight: bold;
}

.font-size-h1 {
    font-size: 48px;
}

.font-size-h2 {
    font-size: 36px;
}

.font-size-h3 {
    font-size: 28px;
}

.font-size-h4 {
    font-size: 24px;
}

.font-size-h5 {
    font-size: 20px;
}

/* FIM NOVAS CLASSES DE TEXTO */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--blue-low);
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: black;
}

html, body {
    min-height: 100%;
}

.loading-page {
    width: 150px;
    height: 150px;
    background: transparent;
    margin: calc(2vh + 3rem) auto 0;
    border-radius: 100%;
    border: 6px solid var(--blue);
    border-right: 6px solid transparent;
    animation: loading 1s linear infinite;
}

.response {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--red);
}

.avatar-p {
    width: 35px;
    height: 35px;
}

.avatar-pp {
    width: 30px;
    height: 30px;
}

.avatar-p, .avatar-pp {
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 0 3px var(--blue);
}

.invalid-value {
    border: 1px solid var(--red) !important;
}

.opacity-1 {
    opacity: 1!important;
}

.rotate {
    transform: rotate(180deg);
}

.success {
    color: var(--green)!important;
}

.error {
    color: var(--red)!important;
}

/* LOADING */

.loading {
    width: 35px;
    height: 35px;
    background: transparent;
    margin: .8rem auto 0;
    border-radius: 100%;
    border: 6px solid #DA2626;
    border-right: 6px solid transparent;
    animation: loading 1s linear infinite;
    display: none;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.os-tooltip {
    background: rgb(242, 242, 242);
    box-shadow: 0 0 10px rgba(197, 197, 197, 0.2);
    max-height: 15rem;
    border-radius: 15px;
    padding: 1.5rem 3rem;
    margin: 1.5rem;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 999;
    transition: all 0.4s;
}

    .os-tooltip .os-tooltip-number {
        margin-bottom: 1rem;
    }

    .os-tooltip h6 {
        font-size: 1rem;
    }

.overlay {
    background: black;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}